.movies {
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  display: flex;
}

.movies__border {
  margin: 0 70px;
  border-bottom: solid #424242 1px;
}

@media screen and (max-width: 768px) {
  .movies__border {
    margin: 0 30px;
  }
}

@media screen and (max-width:425px) {
  .movies__border {
    margin: 0 14px;
  }
}