.profile {
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.profile__title {
  margin: 74px 0 123px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}

.profile__form {
  width: 410px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 17px 0;
  font-size: 11px;
  line-height: 13.3px;
}

.profile__type {
  display: block;
  width: 50%;
  text-align: left;
}

.profile__data {
  display: block;
  width: 50%;
  border: none;
  padding: 0;
  background-color: #202020;
  color: #fff;
  text-align: right;
}

.profile__divine {
  width: 100%;
  height: 1px;
  border-top: solid #424242 1px;
}

.profile__editButton {
  display: block;
  margin: 220px auto 0;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  line-height: 15.7px;
}

.profile__editButton:hover {
  opacity: .7;
}

.profile__logoutButton {
  display: block;
  margin: 17px auto 70px;
  text-decoration: none;
  color: #EE3465;
  font-size: 13px;
  line-height: 15.7px;
  font-weight: 500;
}

.profile__logoutButton:hover {
  opacity: .7;
}

.profile__saveButton {
  width: 410px;
  margin: 0;
  padding: 13px 0 15px;
  text-decoration: none;
  border-radius: 3px;
  color: #fff;
  background-color: #3456F3;
  font-size: 14px;
  line-height: 16.7px;
}

.profile__saveButton_disabled {
  color: #C2C2C2;
  background-color: #F8F8F8;
  cursor: default;
}

.profile__saveError {
  display: block;
  margin: 189px auto 20px;
  color: #FF004C;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .profile__title {
    margin: 236px 0 96px;
  }

  .profile__editButton {
    margin: 210px auto 0;
  }
}