.notFound {
  color: #fff;
  text-align: center;
}

.notFound__title {
  margin: 246px auto 0;
  font-size: 140px;
  line-height: 170px;
  font-weight: 400;
}

.notFound__subtitle {
  margin: 5px auto 0;
  font-size: 16px;
  line-height: 19px;
}

.notFound__link {
  display: block;
  margin: 184px auto 0;
  color: #4285F4;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
}