.main__portfolio {
  background-color: #202020;
  padding: 0 70px 126px;
  color: #fff;
}

.link__title {
  margin: 0 0 50px;
  color: #8B8B8B;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.link__item {
  max-height: 69px;
  margin: 20px 0 0;
  padding-bottom: 20px;
  border-bottom: solid #424242 1px;
  display: flex;
  justify-content: space-between;
}

.link__item:last-child {
  border-bottom: none;
}

.link__decs {
  margin: 0;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -1.2px;
}

.link__button {
  width: 30px;
  margin: 4px 0 0;
  background-image: url(../../images/link_img.png);
  background-position: center;
  background-repeat: no-repeat;
}

.link__button:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .main__portfolio {
    padding: 0 50px 94px;
  }

  .link__title {
    margin-bottom: 49px;
  }

  .link__decs {
    font-size: 28px;
    letter-spacing: -1.1px;
  }

  .link__item {
    padding-bottom: 18px;
    border-bottom: solid #E6E6E6 1px;
  }
}

@media screen and (max-width: 550px) {
  .link__decs {
    margin-bottom: 19px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.7px;
  }
}

@media screen and (max-width: 425px) {
  .main__portfolio {
    padding: 0 14px 52px;
  }

  .link__item {
    padding-bottom: 0;
  }

  .link__title {
    margin: 0 0 40px;
    font-size: 14px;
    line-height: 20px;
  }

  .link__button {
    width: 18px;
    margin: 0 0 22px;
    background-size: 10px;
  }
}