.header__register {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.header__register:hover {
  opacity: .7;
}

.header__login {
  text-decoration: none;
  background-color: #3DDC84;
  color: #000;
  border-radius: 3px;
  text-align: center;
  padding: 8px 21px 8px 20px;
  font-size: 12px;
  line-height: 16px;
}

.header__login:hover {
  opacity: .8;
}

.header__container {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.header__contentBox {
  display: flex;
  margin-left: 45px;
  gap: 17px;
}

.header__movies {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
}

.header__movies:hover {
  opacity: .8;
}

.header__movies_active {
  font-weight: 500;
}

.header__savedMovies {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
}

.header__savedMovies:hover {
  opacity: .8;
}

.header__savedMovies_active {
  font-weight: 500;
}

.header__profile {
  width: 100px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.header__profile:hover {
  opacity: .8;
}

.profile__text {
  margin: 0 0 0 11px;
  color: #fff;
  font-size: 13px;
  line-height: 12px;
  font-weight: 500;
}

.profile__icon {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background-image: url(../../images/profile-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.profile__mainRoute {
  background-color: #0F4157;
}

.profile__profileRoute {
  background-color: #313131;
}