.main__about {
  /* height: 388px; */
  margin: 0 auto;
  background-color: #202020;
  padding: 110px 70px;
}

.about__stages {
  margin: 70px auto 110px;
  display: grid;
  grid-template-columns: 550px 550px;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 26px 40px;
  color: #fff;
}

.stages__item-title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.85px;
}

.stages__item {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -40%;
}

.about__bar {
  display: grid;
  grid-template-columns: 228px 912px;
  grid-template-rows: 36px 36px;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}

.bar__backend {
  padding: 9px 0;
  background-color: #3DDC84;
}

.bar__frontend {
  padding: 9px 0;
  background-color: #303030;
  color: #fff;
}

.bar__title {
  padding: 14px 0;
  color: #8B8B8B;
}

@media screen and (max-width: 768px) {
  .main__about {
    padding: 70px 18px 69px;
  }

  .about__stages {
    margin: 70px auto 93px;
    grid-template-columns: 319px 319px;
    gap: 22px 30px;
  }

  .stages__item {
    font-size: 12px;
    line-height: 18px;
  }

  .about__bar {
    grid-template-columns: 140px 528px;
  }
}

@media screen and (max-width: 425px) {
  .about__stages {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .stages__item {
    font-size: 11px;
    line-height: 16px;
  }

  .stages__item:last-of-type {
    order: 3;
  }

  .stages__item-title {
    font-size: 18px;
    line-height: 21.7px;
  }

  .stages__item-title:nth-of-type(1) {
    margin-top: 40px;
    order: 2;
  }

  .about__bar {
    padding: 11px 0;
    grid-template-columns: 100px 184px;
    font-size: 11px;
    line-height: 13.3px;
  }

  .bar__title {
    padding: 11px 0;
  }

  .bar__backend,
  .bar__frontend {
    padding: 10px 0;
  }
}