.loadMore {
  width: calc(100% - 70px * 2);
  margin: 50px 70px 100px;
  padding: 11px 0 10px;
  color: #fff;
  background-color: #2F2F2F;
  border: none;
  border-radius: 6px;
  text-align: center;
  font-size: 12px;
  line-height: 17px;
  font-weight: 500;
  cursor: pointer;
}

.loadMore:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .loadMore {
    width: calc(100% - 30px * 2);
    margin: 70px 30px 100px;
  }
}

@media screen and (max-width: 425px) {
  .loadMore {
    width: calc(100% - 10px * 2);
    margin: 75px 10px 80px;
  }
}