.footer {
  padding: 20px 70px;
  background-color: #202020;
}

.footer__text {
  margin: 0;
  padding: 38px 0 20px;
  color: #8B8B8B;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  border-bottom: solid #424242 1px;
}

.footer__container {
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  color: #fff;
  font-size: 13px;
  line-height: 16px;
}

.footer__links {
  display: flex;
  gap: 20px;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
}

.footer__link:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 20px 30px;
  }
}