.main__navtab {
  height: 66px;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navtab__button {
  color: #fff;
  font-size: 13px;
  line-height: 16px;
}